<div class="container">
  <div class="row">
    <div>
      <div class="" style="vertical-align:middle">
        <span><img [src]="event.imageUrl" [alt]="event?.name" class="eventimage"></span> <span style="font-size: 15px; font-weight: bold"> {{event.name | uppercase}}</span>
        <span *ngIf="!addmode" class="pull-right btn btn-primary" (click)="toggleMode()" >Add Session</span>
        <div style="text-align:center">
          <div class="btn-group btn-group-sm">
            <button class="btn" [class.active]="filterby=='all'" (click)="filterBy('all')">All</button>
            <button class="btn" [class.active]="filterby=='beginner'" (click)="filterBy('beginner')">Beginner</button>
            <button class="btn" [class.active]="filterby=='intermediate'" (click)="filterBy('intermediate')">Itermediate</button>
            <button class="btn" [class.active]="filterby=='advanced'" (click)="filterBy('advanced')">Advanced</button>
          </div>
        </div>
        <hr>
        <div *ngIf="!addmode">
          <div *ngFor="let session of visibleSessions" class="col-md-6">
            <session [session]="session" (click)="openSession(session)" trigger-modal="sessiondetail-modal"></session>
          </div>
        </div>
        <div *ngIf="addmode">
          <create-session (toggleAddMode)="toggleMode()"></create-session>
        </div>

      </div>
    </div>
  </div>
</div>


<simple-modal elementId = "sessiondetail-modal" title="Session Details">
  <div>
    <table class="table">
      <tr>
        <td>Name</td>
        <td>{{sessionForDetailing?.name}}</td>
      </tr>
      <tr>
        <td>Presenter</td>
        <td>{{sessionForDetailing?.presenter}}</td>
      </tr>
      <tr>
        <td>Level</td>
        <td>{{sessionForDetailing?.level}}</td>
      </tr>
      <tr>
        <td>Duration</td>
        <td>{{sessionForDetailing?.duration}}</td>
      </tr>
      <tr>
        <td>About</td>
        <td>{{sessionForDetailing?.abstract}}</td>
      </tr>
    </table>
  </div>
</simple-modal>
